<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Today's Orders</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Bungee">
</head>
<body>
    <header>
        <h1>Today's Orders</h1>
        <h2>{{ today }}</h2>
    </header>

    <main>
        <div class="order-list">
            {% for order in orders %}
            <div class="order">
                <p>
                    {# <a href="/orders/{{orders.index(order)}}">{{ order.format_order_date_as_string() }}</a><br> #}
                    {# <a href="{{ url_for("orders_view_one", index=orders.index(order)) }}">{{ order.format_order_date_as_string() }}</a><br> #}
                    <a href="{{ url_for("orders.orders_view_one", index=loop.index-1) }}">{{ order.format_order_date_as_string() }}</a><br>
                    {{ order.food_topping }}<br>
                    {{ order.quantity }} x Pizzas<br>
                    {{ order.customer_name }}
                </p>
            </div>
            {% endfor %}
        </div>

        <div class="credits">
            <a href="https://www.freepik.com/free-vector/cooking-collection-background-fast-food_26935536.htm#query=pizza&position=47&from_view=keyword">Image by nuraghies</a> on Freepik
        </div>
    </main>

</body>
</html>