{% extends "base.html.j2" %}
{% block title %}Single Order{% endblock %}
{% block header -%}
        <h1>Order #{{ index+1 }}</h1>
{%- endblock %}

{% block main -%}
        <div class="single-order">
            <div class="order">
                <p>
                    {{ order.format_order_date_as_string() }}<br>
                    {{ order.food_topping }}<br>
                    {{ order.quantity }} x Pizzas<br>
                    {{ order.customer_name }}
                </p>
            </div>
            
            <div class="order-list-button">
                <a href="{{url_for('orders.orders_list')}}">Back to order list</a>
            </div>
        </div>
{%- endblock %}
